$duration:4s;
$delay:$duration/320;
$ballSegs:10;
$loader-size:12em;
$ball-diameter:3em;
$from-center: translateY(-4.5rem);
$colors:#f42f24 #255ff4 #0ad80a #f4af24;
$shadows:(-0.6em -0.6em 1em inset)
         (-0.6em  0.6em 1em inset)
         ( 0.6em  0.6em 1em inset)
         ( 0.6em -0.6em 1em inset);
 
*{
    border:0;
    box-sizing:border-box;
    margin:0;
    padding: 0;
} 
:root{
    font-size: calc(16px + (32 -16)*(100vw-320px)/(2560-320));

} 
body{
    background: #e3e4e8;
	display: flex;
	font: 1em/1.5 sans-serif;
    height: 100vh;
}  
.loader {
	margin: auto;
	position: relative;
	width: $loader-size;
	height: $loader-size;
	&__ball {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		will-change: transform;
		&, &-seg {
			position: absolute;
		}
		@for $g from 1 through length($colors) {
			&:nth-child(#{$g}) {
				$rotate: 90deg * ($g - 1);
				$colors: nth($colors,$g);
				@if $g > 1 {
					transform: rotate($rotate);
				}
				.loader__ball-seg {
					background: $colors;
					box-shadow:	nth($shadows,$g);
					color: darken($colors,15%);
				}
			}
		}
		&-seg {
			animation: rotateRight $duration ease-in-out infinite;
			border-radius: 50%;
			top: calc(50% - #{$ball-diameter/2});
			left: calc(50% - #{$ball-diameter/2});
			transform: $from-center;
			width: $ball-diameter;
			height: $ball-diameter;
			z-index: 1;
			+ .loader__ball-seg {
				opacity: 0.2;
				z-index: 0;
			}
			@for $b from 2 through $ballSegs {
				&:nth-child(#{$b}) {
					animation-delay: $delay * ($b - 1);
				}
			}
		}
	}
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background: #17181c;
	}
}
/* Animation */
@keyframes rotateRight {
	from { transform: rotate(0deg) $from-center rotate(0deg); }
	10% { transform: rotate(100deg) $from-center rotate(-100deg); }
	13% { transform: rotate(85deg) $from-center rotate(-85deg); }
	17% { transform: rotate(93deg) $from-center rotate(-93deg); }
	20%, 25% { transform: rotate(90deg) $from-center rotate(-90deg); }

	35% { transform: rotate(190deg) $from-center rotate(-190deg); }
	38% { transform: rotate(175deg) $from-center rotate(-175deg); }
	42% { transform: rotate(183deg) $from-center rotate(-183deg); }
	45%, 50% { transform: rotate(180deg) $from-center rotate(-180deg); }

	60% { transform: rotate(280deg) $from-center rotate(-280deg); }
	63% { transform: rotate(265deg) $from-center rotate(-265deg); }
	67% { transform: rotate(273deg) $from-center rotate(-273deg); }
	70%, 75% { transform: rotate(270deg) $from-center rotate(-270deg); }

	85% { transform: rotate(370deg) $from-center rotate(-370deg); }
	88% { transform: rotate(355deg) $from-center rotate(-355deg); }
	92% { transform: rotate(363deg)  $from-center rotate(-363deg); }
	95%, to { transform: rotate(360deg) $from-center rotate(-360deg); }
}